@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


body {
    font-family: "Poppins";
    font-style: normal;
    background-color: #010d1b;
    color: #fff;
}

/* Header CSS */
header {
    width: 100%;
    height: 100px;
    color: #fff;
    position: fixed;
    top: 0;
    background-color: #7843E9;
}

header a:hover {
    color: rgb(18, 214, 64);
}


.container {
    width: 86vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-headside img {
    clip-path: circle(50%);
    object-fit: cover;
    width: 70px;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.right-headside,
a {
    padding-right: 20px;
    padding-top: 48px;
}

.right {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
}



/* Main Tag start */
/* First Section */

.onesec {
    width: 100%;
    height: 800px;
    text-align: center;
}

#name {
    padding-top: 280px;
    font-size: 62px;
    font-family: "Poppins";
    font-weight: bold;
}

.oneofpara {
    font-size: 23px;
    margin-bottom: 60px;
}

.btn-bg {
    padding: 20px;
    color: #fff;
    font-size: 1.2rem;
    border: 3px solid #fff;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    transition: transform .3s;
    unicode-bidi: isolate;
}

/* Second Section  */
.two {
    width: 100%;
    height: 900px;
    text-align: center;
}

.first-part-of-sec-section {
    padding-top: 120px;
    font-size: 35px;
    text-align: center;
}

h3 {
    margin: 0;
}

button,
.normal-but {
    background-color: #7843E9;
    border-radius: 5px;
    border: 0 2px #7843E9;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
}

.secofpara {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
}

.sec-left,
.sec-right {
    display: inline-block;
}

.second-part-of-sec-section {
    padding-top: 80px;
}

.sec-left {
    text-align: left;
    padding-left: 30px;
}

.sec-left h3 {
    font-size: 30px;
    font-weight: bold;
}

.secpart-para {
    font-family: "Poppins";
    font-size: 20px;
}

#sec-left {
    text-align: left;
    padding-left: 190px;
}

.sec-left h3 {
    font-size: 30px;
    font-weight: bold;
}

strong {
    font-weight: bold;
}


.sec-right,
#sec-left {
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
}

.sec-right h3 {
    font-size: 30px;
    font-weight: bold;
}

.sec-right {
    position: relative;
    top: -142px;
}

.skill-contain {
    display: inline-block;
    height: 200px;
}

.skills-set {
    display: inline-block;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
}

.skill-contain {
    padding-top: 10px;
    padding-left: 50px;
}

.about-but {
    padding-top: 20px;
    padding-right: 70%;
}

.ab-but {
    padding: 20px;
    color: #fff;
    font-size: 1.2rem;
    border: 3px solid #fff;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

/* Third section */

.three {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 150px;
}

.project-head {
    font-size: 32px;
    text-align: center;
    margin: 0;
}

.project-head p {
    font-size: 21px;
    font-weight: lighter;
}

.firstproject,
.secondproject,
.thirdproject,
.fourthproject,
.fifthproject {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-bottom: 10rem;
    margin-left: 10rem;
    text-align: center;
}

.pro-img {
    width: 550px;
    margin-top: 7%;
    padding: 0;
    margin-right: 10%;
}

.firstproject-bio,
.secondproject-bio,
.thirdproject-bio,
.fourthproject-bio,
.fifthproject-bio {
    text-align: left;
    margin-top: 40px;
}

.project-title {
    font-weight: bold;
    font-size: 25px;
}

.project-info {
    font-size: 20px;
}

.case-study {
    background-color: #7843E9;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    font-size: 1.2rem;
    border: 3px solid white;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

/* fourth section */
.four {
    width: 100%;
    height: 1200px;
    text-align: center;
    text-align: center;
}

.first-part-of-four-sec {
    padding-top: 120px;
    font-size: 35px;
    text-align: center;
}

h3 {
    margin: 0;
}

.fourthofpara {
    font-size: 19px;
    font-weight: lighter;
}

.second-part-of-four-sec {
    margin-top: 100px;
    padding: 60px;
    margin-left: 25%;
    width: 50%;
    height: 650px;
    color: #fff;
    text-align: left;
    border-radius: 20px;
    box-shadow: 5px #666;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input[type=text],
input[type=email] {
    padding: 20px;
    width: 90%;
    background-color: #97979747;
    border: 2px solid #97979747;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

textarea {
    padding: 20px;
    width: 90%;
    height: 200px;
    background-color: #97979747;
    border: 2px solid #97979747;
    font-size: 22px;
    color: #fff;
}

input[type=submit] {
    background-color: #7843E9;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    font-size: 1.2rem;
    border: 3px solid white;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 590px;
    cursor: pointer;
}

/* Footer part */
footer {
    width: 100%w;
    height: 100%;
    color: #fff;
    padding-top: 80px;
    padding-left: 10%;
}

.foot-container,
.left-foot,
.right-foot {
    display: inline-block;
}

footer h4 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: bold;
}

.right-foot {
    padding-left: 300px;
}

.right-foot .foot-link a img {
    width: 30px;
    height: auto;
    display: inline-block;
    filter: invert(100%) brightness(100%);
    background-color: transparent;
    padding-right: 10px;
}

hr {
    margin-right: 14%;
}

.copyright {
    text-align: center;
    padding: 50px;
}

.thirdofpara {
    color: #fff;
    font-weight: 400;
}

textarea {
    font-size: 20px;
    color: white;
}


/* Mobile styles (max-width: 768px) */
@media screen and (max-width: 768px) {
    header {
        height: 100px;
    }

    body {
        text-align: center;
    }

    .firstproject,
    .secondproject,
    .thirdproject,
    .fourthproject,
    .fifthproject {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        margin-bottom: 0;
        margin-left: 3rem;
        text-align: center;
    }

    .ab-but {
        margin-left: 103px;
    }

    .pro-img {
        width: 280px;
        margin-top: 20px;
        padding: 0;
        margin-right: 0;
    }

    .right-foot {
        padding-left: 50px;
        padding-top: 50px;
    }

    .project-head p {
        margin-left: 84px;
    }

    hr{
        margin-right: -8%;
    }

    .right-headside,
    a {
        padding-right: 0px;
    }

    .container {
        width: 100vw;
        padding: 0 10px;
    }

    .left-headside img {
        width: 60px;
        top: 15px;
    }

    .right-headside a {
        padding: 0 5px;
    }

    .right-headside {
        padding-right: 30px;
    }

    .right-headside .hide {
        display: none;
    }

    .onesec {
        height: auto;
    }

    #name {
        font-size: 48px;
        padding-top: 120px;
        margin-left: 100px;
    }

    .oneofpara {
        font-size: 18px;
        margin-bottom: 40px;
        margin-left: 100px;
    }

    .btn-bg {
        padding: 15px;
        font-size: 1.1rem;
    }

    .two {
        height: auto;
    }

    .first-part-of-sec-section {
        font-size: 28px;
        padding-top: 60px;
        margin-left: 100px;
    }

    .secofpara {
        font-size: 16px;
    }

    .sec-right {
        position: relative;
        top: -100px;
        left: 57px;
    }

    .sec-left {
        margin-left: 55px;
        text-align: left;
    }

    .skills-set {
        padding: 0.7rem 1.5rem;
        font-size: 18px;
    }

    .about-but {
        padding-top: 20px;
        padding-right: 50%;
    }

    .three {
        padding-top: 80px;
    }

    .project-head {
        font-size: 28px;
    }

    .project-title {
        font-size: 22px;
    }

    .project-info {
        font-size: 18px;
    }

    .secpart-para {
        margin-bottom: 100px;
    }

    .case-study {
        padding: 15px;
        font-size: 1.1rem;
    }

    .four {
        height: auto;
    }

    .first-part-of-four-sec {
        font-size: 28px;
        margin-left: 50px;
    }

    .fourthofpara {
        font-size: 16px;
    }

    .second-part-of-four-sec {
        width: 100%;
        padding: 40px;
        margin-left: 0;
    }

    input[type=text],
    input[type=email] {
        font-size: 18px;
    }

    textarea {
        font-size: 18px;
    }

    input[type=submit] {
        margin-left: 190px;
    }

    footer {
        padding-top: 70px;
    }

    .name {
        display: none;
    }

    .right-headside a {
        font-size: 15px;
    }

    .firstproject-bio,
    .secondproject-bio,
    .thirdproject-bio,
    .fourthproject-bio,
    .fifthproject-bio {
        padding-bottom: 54px;
    }
}

/* Tablet styles (min-width: 769px and max-width: 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 100px;
    }

    .container {
        width: 90%;
        padding: 0 20px;
    }

    .left-headside img {
        width: 70px;
        top: 20px;
    }

    .right-headside a {
        padding: 0 10px;
    }

    .onesec {
        height: 700px;
    }

    #name {
        font-size: 52px;
        padding-top: 200px;
    }

    .oneofpara {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .btn-bg {
        padding: 20px;
        font-size: 1.2rem;
    }

    .two {
        height: 1500px;
    }


    .skill-contain {
        padding-top: 100px;
        padding-left: 50px;
    }

    .firstproject,
    .secondproject,
    .thirdproject,
    .fourthproject,
    .fifthproject {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-bottom: 10rem;
        margin-left: 10rem;
        text-align: center;
    }

    .first-part-of-sec-section {
        font-size: 30px;
        padding-top: 80px;
    }

    .secofpara {
        font-size: 18px;
    }

    .sec-right {
        position: relative;
        top: -120px;
    }

    .skills-set {
        padding: 1rem 2rem;
        font-size: 20px;
    }

    .about-but {
        padding-top: 20px;
        padding-right: 60%;
    }

    .three {
        padding-top: 100px;
    }

    .project-head {
        font-size: 30px;
    }

    .project-title {
        font-size: 24px;
    }

    .project-info {
        font-size: 20px;
    }

    .case-study {
        padding: 20px;
        font-size: 1.2rem;
    }

    .four {
        height: 1000px;
    }

    .first-part-of-four-sec {
        font-size: 30px;
    }

    .fourthofpara {
        font-size: 18px;
        font-weight: 400;
        padding-left: 40px;
    }

    .second-part-of-four-sec {
        width: 80%;
    }

    .second-part-of-four-sec {
        width: 80%;
        padding: 60px;
        margin-left: 10%;
    }

    input[type=text],
    input[type=email] {
        font-size: 20px;
    }

    textarea {
        font-size: 20px;
    }

    input[type=submit] {
        margin-left: 400px;
    }

    footer {
        padding-top: 200px;
    }

    .name {
        display: none;
    }

    .right-headside a {
        font-size: 15px;
    }
}

/* Desktop styles between (min-width: 1025px) and (max-width: 1400px) */
@media screen and (min-width: 1025px) and (max-width: 1400px) {
    header {
        height: 120px;
    }

    .skill-contain {
        padding-top: 200px;
    }

    .container {
        width: 100%;
        padding: 0px 10px;
    }

    .left-headside img {
        position: none;
    }


    .left-headside img {
        width: 80px;
        top: 25px;
    }

    .right-headside,
    a {
        padding-top: 48px;
    }

    .right-headside a {
        padding: 0 15px;
    }

    .onesec {
        height: 900px;
    }

    .fourthofpara {
        font-size: 20px;
        font-weight: 400;
    }

    #name {
        font-size: 60px;
        padding-top: 250px;
    }

    .oneofpara {
        font-size: 22px;
        margin-bottom: 60px;
    }

    .btn-bg {
        padding: 25px;
        font-size: 1.3rem;
    }

    .two {
        height: 1000px;
    }

    .first-part-of-sec-section {
        font-size: 32px;
        padding-top: 100px;
    }

    .secofpara {
        font-size: 20px;
    }

    .sec-right {
        position: relative;
        top: -150px;
    }

    .skills-set {
        padding: 1.2rem 2.5rem;
        font-size: 22px;
    }

    .about-but {
        padding-top: 20px;
        padding-right: 70%;
    }

    .three {
        padding-top: 800px;
    }

    .project-head {
        font-size: 32px;
    }

    .pro-img {
        width: 550px;
        margin-top: 1%;
        padding: 0;
        margin-left: -17%;
    }

    .thirdofpara {
        margin-bottom: 77px;
    }

    .project-title {
        font-size: 26px;
    }

    .project-info {
        font-size: 22px;
    }

    .case-study {
        padding: 25px;
        font-size: 1.3rem;
    }

    .four {
        height: 1200px;
    }

    .first-part-of-four-sec {
        font-size: 32px;
    }

    .fourthofpara {
        font-size: 20px;
    }

    .second-part-of-four-sec {
        width: 70%;
        padding: 80px;
        margin-left: 15%;
    }

    input[type=text],
    input[type=email] {
        font-size: 22px;
    }

    textarea {
        font-size: 22px;
    }

    input[type=submit] {
        margin-left: 500px;
    }

    footer {
        padding-top: 80px;
    }

    .right-foot {
        padding-left: 160px;
    }
}